---
---

@import "{{ site.theme }}";
a:hover {
  color: #CDA434;
}
a:link {
  color: #633290D;
}
p {
  color: #000000;
}
h1 {
  color: #612A60;
}
h2 {
  color: #612A60;
}
h3 {
  color: #612A60;
}
ul li {
  color: #000000;
}
